*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    background-color: #006600;
    display: block;
    max-height: 75px;
    max-width: 100%;
}

.logo
{
    width: 50px;
    height:50px;
    display: inline;
    position: relative;
    top: 12.5px;
}

h1
{
    position: relative;
    display: inline;
    bottom:2px
}

header ul
{
    display: inline;
    list-style:none;
    position: relative;
    left:64.3686%;
    bottom: 32px;
}

header ul li
{
    display: inline;
    margin:10px;
}

aside
{
    width:25vw;
    max-width: 250px;
    height: 960px;
    background-color: lightcoral;
    display: inline-block;
}

aside img
{
    height: 120px;
    width: 250px;
    padding: 20px 35px 20px 25px;
}

aside figcaption
{
    text-align: justify;
    text-indent: 25px;
    padding-bottom: 10px;
    padding: 0px 15px 10px 5px;
}

main
{
    display: inline;
    width:75vw;
}